<script type="text/javascript" src="<?php echo CONTACT_JS_PATH ?>controller_contact.js"></script>
<section class="contact-w3ls">
	<div class="container">
		<div class="wthree-heading">
			<h2 class="w3l-titles">Contact Us</h2>
			<p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
		</div>
		<div class="con-top">
		<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
			<div class="contact-agileits">
				<h4>Get In Touch</h4>
				<form action="#" method="post">
					<div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Full Name:</label> 
                            <input type="text" class="form-control" name="name_contact" id="name_contact">
                            <label id="error_name_contact">
                        </div>
                    </div>	
					<div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Email:</label> 
                            <input type="text" class="form-control" name="email_contact" id="email_contact">
                            <label id="error_email_contact">
                        </div>
                    </div>	
                    <div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Subject:</label>
				            <select class="form-control" id="subject_contact" name="subject_contact" title="Choose subject">
				                <option selected>Choose one subject</option>
				                <option value="programming">Contact our programming departament</option>
				                <option value="work">Work with us</option>
				                <option value="projects">Propose projects</option>
				                <option value="suggestions">Make suggestions</option>
				                <option value="claims">We attend your claims</option>
				                <option value="social">Social projects</option>
				                <option value="festive">Opening of holidays</option>
				                <option value="news">We notify you of our news</option>
				                <option value="different">Somthing different</option>
				            </select>
							<label id="error_subject_contact">
						</div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Message:</label>
                            <textarea class="form-control" rows="4" cols="40" name="message_contact" id="message_contact" value=""></textarea>
							<label id="error_msg_contact">
						</div>
                    </div>
                    <div id="success"></div>
                    <button type="button" class="btn btn-primary" id="contact_btn">Send</button>	
				</form>            
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
			<h4 class="w3l-contact">Connect With Us</h4>
			<p class="contact-agile1"><strong>Phone :</strong> +1 (100)222-23-33</p>
			<p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">info@example.com</a></p>
			<p class="contact-agile1"><strong>Address :</strong> 132 New Lenox, 868 1st Avenue,4th United States.</p>		
			
			<ul class="agileits_social_list">
				<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
			</ul>
			<br/>
			<br/>
			<div class="alert_contact"></div>
						
		</div>
		<div class="clearfix"></div>
		</div>
	</div>
</section>