<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<!--End of dropzone scripts-->
<script type="text/javascript" src="<?php echo ALBUMS_JS_PATH ?>controller_album.js"></script>

<section class="contact-w3ls">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Add new album</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <div class="status alert alert-success" style="display: none"></div>
          <form name="formdisc" id="formdisc">
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">ID: </label>
                  <label id="error_discid">
                    <input class="form-control" type="text" name="discid" id="discid" required="required" value=""/>
                    <div></div>
                  </label>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Album name: </label>
                  <label id="error_discname">
                    <input class="form-control" type="text" name="discname" id="discname" required="required" value=""/>
                    <div></div>
                  </label>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Price: </label>
                  <label id="error_discprice">
                    <input class="form-control" type="text" name="discprice" id="discprice" required="required" value=""/>
                    <div></div>
                  </label>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Entry date: </label>
                  <label id="error_date_entry">
                    <input class="form-control" type="text" name="date_entry" id="date_entry" readonly="readonly" value=""/>
                    <div></div>
                  </label>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
              		<label class="contact-p1">Expiration date: </label>
              		<label id="error_date_expiration">
                    <input class="form-control" type="text" name="date_expiration" id="date_expiration" readonly="readonly" value=""/>
                    <div></div>
                  </label>
                </div>
              </div>
              <label class="contact-p1"><strong>Type:</strong></label>
              <div>
                <label class="contact-p1">Artist: </label>
                <label id="error_artist">
                  <select class="form-control sel" name="artist" id="artist">
                    <option selected>Select artist</option>
                  </select>
                  <div></div>
                </label>
              </div>
              <div>
                <labeL class="contact-p1">Genre: </label>
                <label id="error_genre">
                  <select class="form-control sel" name="genre" id="genre">
                    <option selected>Slect genre</option>
                  </select>
                  <div ></div>
                </label>
              </div>
              <div>
                <label class="contact-p1">Subgenre: </label>
                <label id="error_subgenre">
                  <select class="form-control sel" name="subgenre" id="subgenre">
                    <option selected>Select subgenre</option>
                  </select>
                  <div></div>
                </label>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Format: </label>
                  <label id="error_format">
                    CD <input type="checkbox" name="format[]" class="formatCheckbox" value="CD">
          		      Vinyl <input type="checkbox" name="format[]" class="formatCheckbox" value="Vinyl">
          			    Mp3 <input type="checkbox" name="format[]" class="formatCheckbox" value="Mp3">
          			    Cassete <input type="checkbox" name="format[]" class="formatCheckbox" value="Cassete">
                </div>
                  </label>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Valoration:</label>
                  <label class="asdf">
                    Bad <input name="valoration" id="valoration" type="radio" class="valoration" value="Bad" checked>
            				Good <input name="valoration" id="valoration" type="radio" class="valoration" value="Good">
            				Very Good <input name="valoration" id="valoration" type="radio" class="valoration" value="Very good">
                  </label>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Description: </label>
                  <label id="error_discdesc">
                    <textarea class="form-control" rows="4" cols="40" name="discdesc" id="discdesc" value=""></textarea>
                    <div></div>
                  </label>
                </div>
              </div>
              <p>
                <label>
                  <div class="form-group" id="progress">
                    <div id="bar"></div>
                    <div id="percent">0%</div >
                  </div>
                  <div class="msg"></div>
                  <br/>
                  <div id="dropzone" class="dropzone"></div><br/>
                </label>
              </p>
              <button type="button" name="submit_disc" id="submit_disc" value="submit" class="btn btn-primary">Add album</button>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>