<br/>
<section id="results-page">
    <div class="container">
        <div class="center">
            <h2>New Album!!</h2>
            <br/>
            <br/>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="album_info"></div>
            <br/>
            <br/>
            <script type="text/javascript" src="<?php echo ALBUMS_JS_PATH ?>list_albums.js"></script>
        </div>
    </div>
</section>
