<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<script type="text/javascript" src="<?php echo ALBUMS_JS_PATH ?>update_album.js"></script>

<section class="contact-w3ls">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Update album</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <div class="status alert alert-success" style="display: none"></div>
          <form name="formdisc" id="formdisc">
            <div id="update_album"></div>
            <div class='control-group form-group'>
              <div class='controls'>
                <label class='contact-p1'>Format: </label>
                  <div id="forma"></div>
                <label id='error_format'>
              </div>
                </label>
            </div>
            <div id="update_album_val"></div>
            <div id="update_album_des"></div>
            <p>
              <label>
                <div class="form-group" id="progress">
                  <div id="bar"></div>
                  <div id="percent">0%</div >
                </div>
                <div class="msg"></div>
                <br/>
                <div id="dropzone" class="dropzone"></div><br/>
              </label>
            </p>
            <button type="button" id='save_update'>Save</button>
            <button type="button" id='cancel_update'>Cancel</button>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>