<script type="text/javascript" src="<?php echo SHOP_JS_PATH ?>jquery.bootpag.min.js"></script>
<script type="text/javascript" src="<?php echo SHOP_JS_PATH ?>list_shop.js" ></script>
<script type="text/javascript" src="<?php echo SHOP_JS_PATH ?>modal_shop.js" ></script>

</br>
</br>
<h2 class="w3l-titles">Albums</h2>

<div class="img_map">
  <h2 class="title_map">VER EL MAPA</h2>
  <img class="imp_map_c" src="<?php echo IMG_PATH ?>map.jpg"/>
</div>
<center>
  <form name="search_prod" id="search_prod" class="search_prod">
      <input type="text" value="" placeholder="Search Album ..." class="input_search" id="keyword" list="datalist">
      <input name="Submit" id="Submit" class="button_search" type="button" />
  </form>
</center>

<div id="results"></div>  

<center>
    <div class="pagination"></div>
</center>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details of the album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="asdf"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>