<script type="text/javascript" src="<?php echo MAIN_JS_PATH ?>jquery.bootpag.min.js"></script>
<script type="text/javascript" src="<?php echo MAIN_JS_PATH ?>list_main.js" ></script>

<div class="about">
    <div class="container">
      
      <h2 class="w3l-titles">Welcome</h2>
      <center>
        <form name="search_prod" id="search_prod" class="search_prod">
            <input type="text" value="" placeholder="Search Album ..." class="input_search" id="keyword" list="datalist">
            <input name="Submit" id="Submit" class="button_search" type="button" />
             
        </form>
      </center>
      <div id="result"></div>
      <button class="load_more" id="load_more_button">See more</button>
    </div>
</div>
  <div class="services-bottom stats services">
  <div class="banner-dott1">
    <div class="container">
    
      <div class="wthree-agile-counter">
      <div class="col-md-3 w3_agile_stats_grid-top">
      <div class="w3_agile_stats_grid">
        <div class="agile_count_grid_left">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </div>
        <div class="agile_count_grid_right">
          <p class="counter">324</p> 
        </div>
        <div class="clearfix"> </div>
        <h4>Transport</h4>
      </div>
    </div>
    <div class="col-md-3 w3_agile_stats_grid-top">
      <div class="w3_agile_stats_grid">
        <div class="agile_count_grid_left">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="agile_count_grid_right">
          <p class="counter">543</p> 
        </div>
        <div class="clearfix"> </div>
        <h4>Happy Clients</h4>
      </div>
    </div>
    <div class="col-md-3 w3_agile_stats_grid-top">
      <div class="w3_agile_stats_grid">
        <div class="agile_count_grid_left">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        </div>
        <div class="agile_count_grid_right">
          <p class="counter">434</p> 
        </div>
        <div class="clearfix"> </div>
        <h4>People Loved</h4>
      </div>
    </div>
    <div class="col-md-3 w3_agile_stats_grid-top">
      <div class="w3_agile_stats_grid">
        <div class="agile_count_grid_left">
          <span class="fa fa-trophy" aria-hidden="true"></span>
        </div>
        <div class="agile_count_grid_right">
          <p class="counter">234</p> 
        </div>
        <div class="clearfix"> </div>
        <h4>Win Awards</h4>
      </div>
    </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  </div>
</div>
  <div class="two-grids">
    <div class="container">
      <h3 class="w3l-titles">Advantages</h3>
      <p class="w3layouts_dummy_para"> sed accumsan arcu gravida vitae. Nullam aliquam</p>
      <div class="col-md-6 w3_two_grid_right">
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-hourglass-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>amet tellus</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>finibus ultrices</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>tellus finibus</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-6 w3_two_grid_right">
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>bibendum ex</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>sit amet</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>tellus finibus</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
