<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN1jaZV6-Afj4CeOk3Jv_hUIzMLTsW0S8"></script>
<script type="text/javascript" src="<?php echo MAP_JS_PATH ?>controller_map.js"></script>
<section class="contact-w3ls">
	<div class="container">
		<div class="wthree-heading">
			<h2 class="w3l-titles">Search your album!</h2>
			<p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
		</div>
		<center>
	        <input type="text" value="" placeholder="Search Album ..." class="input_search_map" id="keyword_map" list="datalist">	             
      	</center>
		<div class="con-top">
			<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
				<div class="contact-agileits">
					<h4>Map</h4>
					<div id="map"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
				<h4>Albums</h4>
				<div id="albums_map"></div>
				<br/>
				<br/>
				<div class="alert_contact"></div>
							
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<button type="button" class="btn_map_back">Return</button>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details of the album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="asdr"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>