<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>login.js"></script>
<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>firebase.js"></script>
<section class="contact-w3ls">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Sign In</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <h4>Form</h4>
          <div class="status alert alert-success" style="display: none"></div>
            <center>
              <ul class="agileits_social_list">
                <li><a id="loginfacebook" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true" style="cursor: pointer;"></i></a></li>
                <li><a id="logintwitter" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true" style="cursor: pointer;"></i></a></li>
                <li><a id="botonlogin" class="w3_agile_dribble"><i class="fa fa-google" aria-hidden="true" style="cursor: pointer;"></i></a></li>
              </ul>
            </center>   
            </br>       
            <form id="login_form" name="login_form" class="form-contact">
            <div class="control-group form-group">
              <div class="controls">
                <label class="contact-p1">Username: </label>
                <label id="error_username_log">
                  <input class="form-control" type="text" name="inputUser" id="inputUser" required="required" value=""/>
                  <div></div>
                </label>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label class="contact-p1">Password: </label>
                <label id="error_password_log">
                  <input class="form-control" type="Password" name="inputPass" id="inputPass" required="required" value=""/>
                  <div></div>
                </label>
              </div>
            </div>
            <button type="button" class="btn btn-primary" name="submitLog" id="submitLog">Send</button>
            <a class="btn_recover_pass" type="button" style="cursor: pointer;">Recover password</a>
            </br>
            <a class="btn_red_reg" type="button" style="cursor: pointer;">Sign In</a>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
        <h4 class="w3l-contact">More Info.</h4>
        <p class="contact-agile1"><strong>Phone :</strong> +1 (100)222-23-33</p>
        <p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">info@example.com</a></p>
        <p class="contact-agile1"><strong>Address :</strong> 132 New Lenox, 868 1st Avenue,4th United States.</p>   
        <br/>
        <br/>
        <div class="alert_contact"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>