<script src="<?php echo LOGIN_JS_PATH ?>modify_pass.js"></script>
<section class="contact-w3ls">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Recover password</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <h4>Change your new password</h4>
          </br>
          <div class="status alert alert-success" style="display: none"></div>
          <form name="formdisc" id="formdisc">
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Password: </label>
                  <label id="error_modify_pass">
                    <input class="form-control" type="Password" name="modify_pass" id="modify_pass" required="required" value=""/>
                    <div></div>
                  </label>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Repeat the password: </label>
                  <label id="error_modify_pass2">
                    <input class="form-control" type="Password" name="modify_pass2" id="modify_pass2" required="required" value=""/>
                    <div></div>
                  </label>
                </div>
              </div>
              <button type="button" name="modify_pass_btn" id="modify_pass_btn" value="submit" class="btn btn-primary">Change</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
        <h4 class="w3l-contact">Help</h4>
        <p class="contact-agile1"><strong>Phone :</strong> +1 (100)222-23-33</p>
        <p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">info@example.com</a></p>
        <p class="contact-agile1"><strong>Address :</strong> 132 New Lenox, 868 1st Avenue,4th United States.</p>   
        
        <ul class="agileits_social_list">
          <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
        <br/>
        <br/>
        <div class="alert_contact"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>