<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<script src="<?php echo LOGIN_JS_PATH ?>profile.js"></script>
<div id="contenido">
    <div class="prof">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" src=""/>
            </div>
            <div class="useravatar">
                
            </div>
            <div class="card-info"> 
                <span class="card-title"></span>
            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <p class="hidden-xs">Stars</p>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <p class="hidden-xs">Info</p>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <p class="hidden-xs">Albums</p>
                </button>
            </div>
        </div>

            <div class="well">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
            <center>
              <h3>My wish list</h3>
            </center>
              <div class="prod_like"></div>
            </div>
            <div class="tab-pane fade in" id="tab2">
            <center>
              <h3 class="padding_prof_ht">My profile</h3>
            </center>
              <div id="prof_user_dropzone" style="max-width: 300px; margin-left: 60px;">
                <p>
                    <label>
                        <div class='form-group' id='progress'>
                            <div id='bar'></div>
                            <div id='percent'>0%</div>
                        </div>
                        <div class='msg'></div>
                        <br/>
                        <div id='dropzone' class='dropzone'><div id="prof_img_info"></div></div><br/>
                    </label>
                </p>
              </div>
              <div id="prof_user_info"></div>
            </div>
            <div class="tab-pane fade in" id="tab3">
            <center>
              <h3>My albums</h3>
            </center>
              <div class="my_law"></div>
            </div>
          </div>
        </div>    
    </div>
</div>